/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
a,
p {
   font-family: 'Lato', sans-serif;
   background-size: cover;
   color: #fff;
   text-decoration: none;
   overflow-x: hidden;
   user-select: none;
   margin-top: 10px;
}

body,
html {
   height: 100%;
   margin: 0;
}

.video-background video {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
}

.video-background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   overflow: hidden;
}

.video-background::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(107, 107, 107, 0.116);
   z-index: 1;
}

/* Navigation Bar */
nav {
   background-color: rgb(0, 0, 0);
   color: #fff;
   width: 100%;
   position: fixed;
   top: 0;
   display: flex;
   justify-content: center;
   padding: 12px 0;
   z-index: 1000;
}

nav ul {
   list-style: none;
   display: flex;
   width: 30%;
   max-width: 100%;
   justify-content: space-around;
}

nav ul li a {
   padding: 10px 20px;
   border-radius: 5px;
   transition: color 0.3s;
}

nav ul li a:hover {
   color: rgba(228, 151, 35, 0.80);
}

/* Footer */
footer {
   background-color: rgb(0, 0, 0);
   color: #fff;
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 12px 0;
   z-index: 1000;
}

/* Main Content */
.content {
   padding-top: 60px;
   padding-bottom: 60px;
   min-height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* Logo */
.logo {
   position: fixed;
   bottom: 21px;
   left: 50%;
   transform: translateX(-50%);
   width: auto;
   max-width: 250px;
}

/* Menu Items */
.menu-form {
   padding-top: 7px;
   padding-bottom: 7px;
}

.menu-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4vh;
   padding-bottom: none;
}

.menu-items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding-top: 5vh;
   width: auto;
   max-width: 1200px;
}

.menu-item {
   background-color: rgb(0, 0, 0);
   border-radius: 10px;
   padding: 7px;
   width: 300px;
   max-width: 100%;
   flex: 1 1 calc(33.333% - 30px);
   max-height: 1000px;
   text-align: center;
   z-index: 2;
}

.menu-item img {
   max-width: 100%;
   border-radius: 5px;
   margin-bottom: 15px;
}

/* Input and Button Styles */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.btn,
.btn-update-cart {
   background-color: rgba(112, 112, 112, 0.2);
   color: #fff;
   border: none;
   padding: 6px 12px;
   cursor: pointer;
   margin: 3px 8px;
   font-size: 14px;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.btn-added {
   background-color: rgba(46, 151, 36, 0.521);
   color: #fff;
   border: none;
   padding: 6px 12px;
   cursor: pointer;
   margin: 3px 8px;
   font-size: 14px;
   border-radius: 5px;
   transition: background-color 0.3s;
   pointer-events: none;
}

.btn:hover,
.btn-update-cart:hover {
   background-color: rgba(141, 95, 25, 0.8);
}

.quantity-input {
   background-color: rgba(99, 99, 99, 0.2);
   color: #fff;
   border: 0px rgba(255, 255, 255, 0.4);
   border-radius: 5px;
   padding: 6px 12px;
   margin: 5px;
   width: 60px;
   text-align: center;
}

.checkout-input {
   background-color: rgba(99, 99, 99, 0.2);
   color: #fff;
   border: 0px rgba(255, 255, 255, 0.4);
   border-radius: 5px;
   padding: 6px 12px;
   margin: 5px;
   width: 300px;
   text-align: left;
}

/* Checkout Form */
.form-row {
   display: flex;
   align-items: center;
   justify-content: right;
   margin-bottom: 15px;
}

.form-row label {
   text-align: left;
   width: 30%;
   margin-right: 2%;
}

.form-row-total {
   text-align: right;
   margin-right: 1.3%;
   margin-bottom: 2%;
}

.checkout-input {
   flex-basis: 130%;
   align-items: left;
   display: block;
}

.label-input-mobile {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 10px;
}

.label-input-mobile label {
   margin-bottom: 5px;
}

.checkout-heading p {
   text-align: center;
   width: 100%;
   margin: 30px 0;
}

/* Track Order */
.track-order-summary {
   background-color: rgb(0, 0, 0);
   border-radius: 10px;
   padding: 20px;
   width: 100%;
   max-width: 800px;
   margin: auto;
   transform: translate(0%, -10%);
}

.track-table-heading p {
   text-align: center;
   margin-bottom: 30px;
   color: white;
}

.track-form-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   position: center;
}

.track-form-row label {
   flex: 0 0 35%;
   text-align: right;
   padding-right: 2rem;
}

.track-form-row li,
.track-form-row span,
.track-form-row ul {
   flex: 0 0 65%;
   text-align: left;
   list-style: none;
}

.track-form-row-total {
   background-color: rgba(99, 99, 99, 0.2);
   color: rgb(255, 255, 255);
   text-align: center;
   width: 100%;
   margin-top: 2rem;
   padding-top: 5px;
   padding-bottom: 5px;
}


/* Tables */
table,
.cart-table {
   background-color: rgb(0, 0, 0);
   border-radius: 10px;
   border-spacing: 0;
   padding: 20px;
   width: calc(60% - 30px);
   max-width: 600px;
   max-height: 100%;
   text-align: center;
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -60%);
   z-index: 2;
}

table,
.checkout-table {
   background-color: rgb(0, 0, 0);
   border-radius: 10px;
   border-spacing: 0;
   padding: 20px;
   width: calc(60% - 30px);
   max-width: 650px;
   max-height: 100%;
   text-align: center;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -60%);
   z-index: 2;
}

table,
.order-summary-table {
   background-color: rgb(0, 0, 0);
   border-radius: 10px;
   border-spacing: 0;
   padding: 20px;
   width: calc(60% - 30px);
   max-width: 650px;
   max-height: 100%;
   text-align: center;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -60%);
   z-index: 2;
}

th,
td {
   padding: 10px;
   border: 1px solid rgba(75, 75, 75, 0.349);
   background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive Styles */
@media (max-width: 913px) {
   nav ul {
      list-style: none;
      display: flex;
      width: 300px;
      max-width: 1000px;
      justify-content: space-around;
   }

   .logo {
      position: fixed;
   }

   .logo-mobile {
      display: none;
   }

   .footer-mobile {
      background-color: rgb(0, 0, 0);
      color: #fff;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 12px 0;
      z-index: 1000;
   }

   .menu-items {
      user-select: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
      padding-top: 6vh;
      padding-bottom: 12vh;
   }

   .menu-item {
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      margin: 15px;
      padding: 7px;
      width: 300px;
      max-width: 100%;
      flex: 1 1 calc(33.333% - 30px);
      max-height: 1000px;
      text-align: center;
      transition: transform 0.3s ease;
      z-index: 2;
   }

   .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      padding: auto;
   }

   .cart-table,
   .checkout-table,
   .track-order-summary {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      padding: 20px;
      width: 100%;
      max-width: 1000px;
      height: 100vh;
      max-height: 100%;
      text-align: center;
      z-index: 2;
   }

   .checkout-table .btn {
      width: 100px;
      margin: 0 auto;
      display: block;
   }

   label,
   .track-form-row .form-row {
      text-align: right;
      padding-left: 1%;
      padding-bottom: 3px;
      width: 100%;
      flex-basis: 30%;
   }

   .track-form-row,
   .form-row {
      width: 100%;
      margin-bottom: 15px;
      padding-bottom: 10px;
   }

   .track-form-row label {
      align-items: right;
      text-align: right;
      margin-left: 1rem;
   }

   .track-form-row .span,
   .form-row .span {
      text-align: right;
      margin: 0;
      width: 100%;
   }

   p {
      text-align: right;
      padding-top: 55px;
      width: 100%;
   }

   .checkout-input {
      width: 100%;
      margin: 0;
   }

   .btn,
   .btn-update-cart {
      background-color: rgba(112, 112, 112, 0.2);
      color: #fff;
      border: none;
      padding: 6px 14px;
      cursor: pointer;
      margin: 3px 8px;
      font-size: 14px;
      border-radius: 5px;
      width: auto;
      transition: background-color 0.3s;
   }

   .btn-added {
      background-color: rgba(46, 151, 36, 0.521);
      color: #fff;
      border: none;
      padding: 6px 14px;
      cursor: pointer;
      margin: 3px 8px;
      font-size: 14px;
      border-radius: 5px;
      width: auto;
      transition: background-color 0.3s;
      pointer-events: none;
   }
}

@media (max-width: 768px) {
   nav ul {
      list-style: none;
      display: flex;
      width: 300px;
      max-width: 1000px;
      justify-content: space-around;
   }

   .logo {
      position: fixed;
   }

   .logo-mobile {
      display: none;
   }

   .footer-mobile {
      background-color: rgb(0, 0, 0);
      color: #fff;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 12px 0;
      z-index: 1000;
   }

   .menu-items {
      user-select: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-items: center;
      padding-top: 6vh;
      padding-bottom: 12vh;
   }

   .menu-item {
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      margin: 15px;
      padding: 7px;
      width: 300px;
      max-width: 100%;
      flex: 1 1 calc(33.333% - 30px);
      max-height: 1000px;
      text-align: center;
      transition: transform 0.3s ease;
      z-index: 2;
   }

   .content {
      position: absolute;
      overflow-x: hidden;
      overflow-y: auto;
   }

   .cart-table .cart-items {
      position: absolute;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      width: 100%;
      max-width: 100vh;
      height: 10%;
      max-height: 100vh;
      text-align: center;
      z-index: 2;
      overflow-y: hidden;
   }

   .track-order-summary {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0rem;
      bottom: 0rem;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      padding: 20px;
      width: 1000px;
      max-width: 100%;
      text-align: center;
      z-index: 2;
      overflow: auto;
      height: 100%;
      max-height: 92vh;
      overflow-y: auto;
   }

   .track-form-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      position: center;
   }

   .track-form-row label {
      flex: 0 0 1%;
      text-align: right;
      padding-right: 2rem;
   }

   .track-form-row li,
   .track-form-row span,
   .track-form-row ul {
      flex: 0 0 65%;
      text-align: left;
      list-style: none;
   }

   .form-row {
      width: 100%;
      align-items: left;
      justify-content: right;
      margin-bottom: 15px;
   }

   .form-row label {
      text-align: left;
      padding-left: 1%;
      padding-bottom: 3px;
      width: 100%;
   }

   .form-row-total {
      text-align: center;
      margin-bottom: 5%;
      padding-top: 15px;
   }

   .checkout-input {
      width: 100%;
      flex-basis: 100%;
      align-items: left;
      margin: 0;
   }

   .checkout-table .btn {
      width: 100px;
      margin: 0 auto;
      display: block;
   }

   .btn,
   .btn-update-cart {
      background-color: rgba(112, 112, 112, 0.2);
      color: #fff;
      border: none;
      padding: 6px 14px;
      cursor: pointer;
      margin: 3px 8px;
      font-size: 14px;
      border-radius: 5px;
      width: auto;
      transition: background-color 0.3s;
   }

   .btn-added {
      background-color: rgba(46, 151, 36, 0.521);
      color: #fff;
      border: none;
      padding: 6px 14px;
      cursor: pointer;
      margin: 3px 8px;
      font-size: 14px;
      border-radius: 5px;
      width: auto;
      transition: background-color 0.3s;
      pointer-events: none;
   }
}

@media (max-width: 541px) {
   nav ul {
      list-style: none;
      display: flex;
      width: 300px;
      max-width: 1000px;
      justify-content: space-around;
   }

   .logo {
      position: fixed;
   }

   .logo-mobile {
      display: none;
   }

   .menu-items {
      user-select: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-items: center;
      padding-top: 6vh;
      padding-bottom: 12vh;
   }

   .menu-item {
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      margin: 15px;
      padding: 7px;
      width: 300px;
      max-width: 100%;
      flex: 1 1 calc(33.333% - 30px);
      max-height: 1000px;
      text-align: center;
      transition: transform 0.3s ease;
      z-index: 2;
   }

   .content {
      position: absolute;
      overflow-x: hidden;
      overflow-y: auto;
   }

   .cart-table .cart-items {
      position: absolute;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      width: 100%;
      max-width: 100vh;
      height: 100%;
      max-height: 100vh;
      text-align: center;
      z-index: 2;
      overflow-y: hidden;
   }

   .checkout-table {
      position: fixed;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      width: 100%;
      max-width: 100vh;
      height: 100vh;
      max-height: 100vh;
      text-align: center;
      z-index: 2;
      overflow-y: auto;
   }
   
   .track-order-summary {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0rem;
      bottom: 0rem;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      padding: 20px;
      width: 1000px;
      max-width: 100%;
      text-align: center;
      z-index: 2;
      overflow: auto;
      height: 100%;
      max-height: 92vh;
      overflow-y: auto;
   }

   .track-form-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      position: center;
   }

   .track-form-row label {
      flex: 0 0 1%;
      text-align: right;
      padding-right: 2rem;
   }

   .track-form-row li,
   .track-form-row span,
   .track-form-row ul {
      flex: 0 0 65%;
      text-align: left;
      list-style: none;
   }

   .form-row {
      width: 100%;
      align-items: left;
      justify-content: right;
      margin-bottom: 15px;
   }

   .form-row label {
      text-align: left;
      padding-left: 1%;
      padding-bottom: 3px;
      width: 100%;
   }

   .form-row-total {
      text-align: center;
      margin-bottom: 5%;
      padding-top: 15px;
   }

   .checkout-input {
      width: 100%;
      flex-basis: 100%;
      align-items: left;
      margin: 0;
   }

   .checkout-table .btn {
      width: 100px;
      margin: 0 auto;
      display: block;
   }

   .btn,
   .btn-update-cart {
      background-color: rgba(112, 112, 112, 0.2);
      color: #fff;
      border: none;
      padding: 6px 14px;
      cursor: pointer;
      margin: 3px 8px;
      font-size: 14px;
      border-radius: 5px;
      width: auto;
      transition: background-color 0.3s;
   }

   .btn-added {
      background-color: rgba(46, 151, 36, 0.521);
      color: #fff;
      border: none;
      padding: 6px 14px;
      cursor: pointer;
      margin: 3px 8px;
      font-size: 14px;
      border-radius: 5px;
      width: auto;
      transition: background-color 0.3s;
      pointer-events: none;
   }
}
