<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu | Pizzazz Pizza</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='cart.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="logo">
        <img src="/static/images/logo.svg" class="logo logo-mobile">
    </div>
    <div class="video-background">
        <video loop muted autoplay playsinline>
            <source src="{{ url_for('static', filename='videos/hero.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/cart">CART</a></li>
        </ul>
    </nav>
    <div class="menu-container">
        <div class="menu-items">
            {% for pizza in menu %}
            <div class="menu-item">
                <img src="{{ url_for('static', filename='images/' + pizza.image) }}" alt="{{ pizza.name }}" draggable="false" />
                <h2>{{ pizza.name }} <br> <span>${{ '%.2f'|format(pizza.price) }}</span></h2>
                <div class="quantity-group">
                    <form action="/add_to_cart" method="post" class="menu-form" data-action="add">
                        <input type="hidden" name="id" value="{{ pizza.id }}" />
                        {% if pizza.id in cart_id %}
                        <input type="number" name="quantity" class="quantity-input" placeholder="&#x2713;" disabled />
                        <button class="btn-added">Added</button>
                        {% else %}
                        <input type="number" name="quantity" min="1" max="20" class="quantity-input" placeholder="#" />
                        <button type="submit" class="btn">Add to Cart</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>&copy; 2024 &nbsp; - &nbsp; All Rights Reserved</footer>
</body>
</html>
